@model TimeSheet.Models.DashboardViewModel
@using TimeSheet.Properties

@{
    Layout = null;
}

<div id="dialog" title="Delete Work Detail" style="display:none;">
    <span id="workDetailId" style="display:none;"></span>
    <p>Are You Sure!!</p>
    <button type="button" name="deleteButton">Yes</button>
    <button type="button" Id="errorNoButton">No</button>
</div>

<div id="errorDialog" title="Error" style="display:none;">
    <p id="errorDetail"></p>
    <button type="button" Id="errorCloseButton">Ok</button>
</div>

@if (Model == null || Model.TeamWorkingHourDetail == null || Model.TeamWorkingHourDetail.Count() == 0)
{
    <div>No Record Found</div>
}
else
{
    <button id="export">Export</button>
    <table border="1" id="table2excel" style="width:100%">
        <thead>
            <tr><th colspan="5">Work Detail List</th></tr>
        </thead>
        <tbody>
            @foreach (var f in Model.TeamWorkingHourDetail)
                {
                <tr style="background-color: antiquewhite; border: none;">
                    @{decimal hour = (Convert.ToDecimal(f.TotalHour) + (Convert.ToDecimal(f.TotalMinutes)/60));}
                    <td colspan="5"> <span style="width:33%; display:inline-block;"> @f.EmployeeId &nbsp;#@f.EmployeeName </span><span style="width:33%; display:inline-block;"> Date &nbsp;@f.WorkDate</span><span style="width:33%; display:inline-block;text-align:right;"> Total Hours&nbsp; @hour.ToString("0.##") </span></td>
                </tr>
                <tr>
                    <td>
                        S.No.
                    </td>
                    <td style="width:20%">
                        Project
                    </td>
                    <td>
                        Hour
                    </td>
                    <td>
                        Remark
                    </td>
                    <td style="width:50px;">
                        Action
                    </td>
                </tr>
                var sno = 0;
                foreach (var detail in f.HourDetail)
                {
                    sno++;
                    <tr>
                        <td>@sno</td>
                        <td>@detail.WorkProjectName</td>
                        <td>@{decimal time = (Convert.ToDecimal(detail.Hours) + (Convert.ToDecimal(detail.Minutes) / 60));}
                          @time.ToString("0.##")
                        </td>
                        <td>@detail.Remarks</td>
                        <td>
                            @if (Session["LoginUserId"].ToString() == detail.EmployeeId)
                            {
                                <a href="@Url.Action("Index", "Timesheet", new { editId = detail.Id })"><img src="~/images/edit.png" height="20" name="editWorkDetail" /></a>
                                <img src="~/images/delete.png" height="20" name="deleteWorkDetail" data-id=@detail.Id />
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="5">
                        -----------------------------------------
                    </td>
                </tr>

            }
        </tbody>
    </table>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>
<script>
    var jq = $.noConflict();
    jq(".preloader").hide();
    jq(document).ready(function () {
        if (jq("#export").length > 0) {
            jq("#export").unbind();
            jq("#export").click(function () {
                jq("#table2excel").unbind();
                var dateToday = new Date();
                jq("#table2excel").table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "WorkReport-" + dateToday,
                    fileext: ".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            });
        }

        jq("img[name=deleteWorkDetail]").click(function () {
            jq("#dialog").dialog({
                dialogClass: "noclose"
            });

            jq("#workDetailId").html("");
            var editId = jq(this).attr("data-id");
            jq("#workDetailId").html(editId);
        });

        $("#errorNoButton").click(function () {
            $(".ui-dialog-titlebar-close").click();
        });

        $("button[name=deleteButton]").click(function () {
            var projId = $("#workDetailId").html()
            $(".preloader").show();
            $.ajax({
                url: '/Timesheet/DeleteWorkDetail',
                type: 'Post',
                datatype: 'Json',
                data: { deleteId: projId }
            }).done(function (result) {
                if (result == "" || result == undefined) {
                    $(".ui-dialog-titlebar-close").click();
                    window.location.href = '/Dashboard/GetWorkingHourList';
                }
                else {
                    $(".ui-dialog-titlebar-close").click();
                    $("#errorDetail").html(result);
                    $(".preloader").hide();
                    jq("#errorDialog").dialog({
                        dialogClass: "noclose"
                    });

                    $("#errorCloseButton").click(function () {
                        $(".ui-dialog-titlebar-close").click();
                    });
                }

            }).fail(function (error) {
                $("#errorDetail").html(error.statusText);
                $(".preloader").hide();
                jq("#errorDialog").dialog();
            });

            return false;
        });
    });
</script>
<style>
    .noclose .ui-dialog-titlebar-close {
        display: none;
    }
</style>